# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Firebase
google-services.json
GoogleService-Info.plist
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
*.sublime-project
*.sublime-workspace

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log

# Testing
coverage/
.nyc_output/

# Misc
.cache/
.parcel-cache/
.next/
.turbo/
